html,body{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#root{
    width: inherit;
    height: inherit;
}

.main-div{
    width: inherit;
    height: inherit;
}

.header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    padding-right: 36px;
    height: 58px;
    justify-content: space-evenly;
    align-items: center;

}

.header-logo{
    width: 10%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;
    color: #F1641E;
    transform: rotate(-5deg);
}

.header-searchbar{
    width: 65%;
    height: 43px;
    border: 2.2px solid black;
    border-radius: 100px;
    padding-left: 15px;
    background-color: rgb(243, 243, 243);
}
/* get rid of outline when you click on input */
input:focus {outline:none;}

.greeting-component{
    width: 10%;
}