body {
  font-family: "Recursive", sans-serif;
  font-weight: bold;
}

.or {
  padding-left: 5px;
  padding-right: 5px;
}

.signup,
.log-button {
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
    width: 100%;

}

.signup:hover,
.log-button:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.15s;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.signup:active,
.log-button:active {
  transform: scale(1);
}