.products-index-container {
  background-color: #ddebe3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  /* box-sizing: content-box; */
}
.custom-shape-divider-top-1669523967 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -56;
    line-height: 0;
}

.custom-shape-divider-top-1669523967 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1669523967 .shape-fill {
    fill: #DDEBE3;
}

.index-container-logo {
  font-size: 33px;
  font-weight: 100;
  padding-top: 27px;
}

.best-selling-items {
  font-size: 20px;
  font-weight: bold;
  padding-top: 18px;
}

.products-index-container-ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

element.style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
.products-hot-items{

    width: 14vmax;
    height: 12vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-overflow: ellipsis;
}
 */

.products-hot-items a {
  text-decoration: none;
  text-align: center;
}

.products-hot-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.products-hot-items a span {
  color: #222222;
  width: 14vmax;
}
.products-hot-items a img {
  flex-grow: 1;
}

.hot-items-image-thumnails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-overflow: ellipsis;
}
.hot-items-image-thumnail {
  width: 12vmax;
  height: 12vmax;
  border-radius: 50%;
  margin: 10px;
  transition: .2s;
  object-fit: cover;
}
.hot-items-image-thumnail-lg {
  width: 25vmax;
  height: 25vmax;
  transition: .2s;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
}

.thumnail-p {
  text-decoration: none;
}

.hot-items-image-thumnail > p {
  text-decoration: none;
  display: inline-block;
}

.shadow-bottom {
  box-shadow: #22222230 0px 10px 10px -10px;
}

#thumnail-span:hover {
  transform: scale(1.05);
  transition: 0.1s;
}