.products-index-container{

    height: 45vh;
    background-color: #ddebe3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    /* box-sizing: content-box; */
}

.index-container-logo{
    font-size: 33px;
    font-weight: 100;
}

.best-selling-items{
    font-size: 20px;
    font-weight:bold;
    top: 20px;

}

.products-index-container-ul{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;

    
}

img {
    max-width: 100%;
    max-height: 100%;
}
/* question */
element.style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 
.products-hot-items{

    width: 14vmax;
    height: 12vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-overflow: ellipsis;
}
 */

.hot-items-image-thumnails{

    width: 14vmax;
    height: 12vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-overflow: ellipsis;
}

.products-hot-items {
    display: flex;
    justify-content: center;
    
}

.hot-items-image-thumnails > p {
    margin-top: 20px;
}

.hot-items-image-thumnail {
    width: 12vmax;
    height: 10vmax;
    border-radius: 50%;
    padding: 10px;


}

.hot-items-image-thumnail > p {
    text-decoration: none;
}