.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation: fade-in 0.2s ease-in-out;
  /* opacity:0 */
}

.fade-in {
  animation: fade-in 0.2s ease-in-out;
}

.fade-out {
  animation: fade-out 0.2s ease-in-out;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 500px; */
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  0% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
  100% {
    transition: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transition: translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(100%, 0%);
  }
}
