.nav-horizontal {
  display: flex;
  justify-content: space-evenly;
  margin: 0.3rem 0 0.3rem 0;
  padding: 0px 5vw 0px 5vw;
  font-size: 1.2rem;
}

.nav-item {
  padding: 8px 12px 8px 12px;
  text-align: center;

  font-weight: 100;
}

.nav-vertical {
  width: 210px;
  margin-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  right: 1vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 9999;
}

.menu-bar-background {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#nav-bar-tag:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.1);
  background-color: #22222205;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.right-1vw {
  right: 1vw;
}

.right-1rem {
  right: 1rem;
}

.right-2rem {
  right: -2rem;
}
.right-2vw {
  right: 2vw;
}
.top-3_5 {
  top: 3.5rem;
}

.nav-vertical > a,
.nav-horizontal > a {
  text-decoration: none;
  color: #222222;
}

.menu-bar-container {
  position: relative;
}