.nav-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 5vw 0px 5vw;
}

.nav-item {
  padding: 8px 12px 8px 12px;
  text-align: center;

  font-weight: 100;
}

/* #linked-in{
    background-image: url(https://furnitsy-furniture-images.s3.us-east-2.amazonaws.com/Octocat.png);
} */
