/* session form submit buttons styling */
 .buttons {
	width: 100%px;
	margin-bottom: 1%;
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 10px;
	box-sizing: inherit;

 }

 .session-form-submit {
	background-color: #565656; /* dark gray */
	border: none;
	color: white;
	padding: 4px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 24px;
	font-size: 13px;
	margin-right:8px;
	box-shadow: 3px 3px 3px rgb(99, 96, 91);
 }

 .demo-button {
	background-color: #565656; /* dark gray */
	border: none;
	color: white;
	padding: 4px 13px;
	text-align: center;
	border-radius: 24px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin-left:8px;
	box-shadow: 3px 3px 3px rgb(99, 96, 91);
 }

 #session-forms{
	 padding-top: 9px;
	 padding-bottom: 9px;
	 padding-right: 12px;
	 padding-left: 12px;
	 border-width: 1px;
	 width: 100%;
	 font-size: 14px;
	 outline: none;
	 display: block;
	 border-radius: 6px;
	 border-color: #565656;
 }

 .session-form-submit:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px rgb(121, 119, 117);
 }

 .demo-button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px rgb(121, 119, 117);
 }


 .logout-button {
	background-color: #565656; /* dark gray */
	border: none;
	color: white;
	padding: 4px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
 }


 .logout-button:hover {
	cursor: pointer;
 }

 .input-sections {
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; 

 }

 /* messages */



 .form-type-message {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: bold;
 }


 .furnitsy-logo {
	top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #c09f80;
 }


 .session-container {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 24px;
	box-sizing: border-box;
	border: #565656;
	box-shadow: 1px 5px 5px rgb(104, 102, 102);
	padding: 20px;
	padding-bottom: 40px;
    width: 240px;
    height: 410px;

 }

 .session-forms {
	height: 380;

 }

 .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row  {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row  {
    flex: 2;
  }



  /* error styling */

  .errors-container {
    display: flex;

	height: 60px;
    color: red;
  }
  .error {
      margin-bottom: 8px;
      margin-left: 10px;
  }

/* x-closing button */
  .x-closing-button {
      position: absolute;
      top: 10px;
      right: 20px;
      line-height: 2;
      text-decoration: none;
  }

  .x-closing-button:hover {
    cursor: pointer;
    color: red;
  }


.labels {
	font-size: 10px;
}

  /* modal-screen */
/* 

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
 */
