.what_is_furnitsy {
  width: 100%;
  margin-top: 30px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.custom-shape-divider-bottom-1669524354 {
  z-index: -5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669524354 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 413px;
}

.custom-shape-divider-bottom-1669524354 .shape-fill {
  fill: #eeb16155;
}

#what_is_furnitsy_inner-horizontal {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 1rem 2rem 1rem;
}
#what_is_furnitsy_inner-vertical {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 6vw 2rem 6vw;
}

#what_is_furnitsy_inner-horizontal #furnitsy_inner_div:nth-child(1) {
  grid-row: 1;
  grid-column: 1 / 4;
}
#what_is_furnitsy_inner-horizontal #furnitsy_inner_div:nth-child(2) {
  grid-row: 2;
  grid-column: 1 / 4;
}
#what_is_furnitsy_inner-horizontal #furnitsy_inner_div:nth-child(3) {
  grid-row: 3;
  grid-column: 1 / 4;
}

#what_is_furnitsy_inner-vertical #furnitsy_inner_div:nth-child(1) {
  grid-row: 1 / 4;
  grid-column: 1;
}
#what_is_furnitsy_inner-vertical #furnitsy_inner_div:nth-child(2) {
  grid-row: 1 / 4;
  grid-column: 2;
}
#what_is_furnitsy_inner-vertical #furnitsy_inner_div:nth-child(3) {
  grid-row: 1 / 4;
  grid-column: 3;
}

/* #furnitsy_inner_div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 26%;
  text-align: center;
} */

#furnitsy_inner_div p {
  padding-top: 13px;
}

.what_is_furnitsy h1 {
  font-size: 38px;
  padding-top: 20px;
}

.what_is_furnitsy h2 {
  font-size: 25px;
}
.what_is_furnitsy p {
  font-size: 17px;
}

#contact-me {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact-me h3 {
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 13px;
}

.submit_to_email {
  /* border: 1px solid #222222; */
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  /* margin: 10px 0 36px 0; */
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 36px;
  margin-top: 10px;
  color: #222222;
  background-color: #eeb161;
}

.submit_to_email:hover {
  cursor: pointer;
  background-color: #f37c40;
  color: #e9dac7;
  transform: scale(1.1);
  transition: 0.15s;

  /* border: 1px solid #FAECD5; */
  /* border: 1px solid #eeb161; */
}
.submit_to_email:active {
  transform: scale(1);
}
